# Installer logs
pip-log.txt
crawler.py

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
core/__pycache__
api/__pycache__
api/migrations
api/management/__pycache__
api/management/commands/__pycache__
api/utils

apiv2/__pycache__
apiv2/migrations

# Scrapy stuff:
.scrapy
__pycache__
create_fixture.py
scrape.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/